<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
    <div th:replace="fragments :: styles"/>
</head>
<body>


<div th:replace="fragments :: navigator"/>
<main>
    <h1>Owners</h1>
    <div class="container">
        <div class="row rowheader">
            <div class="col-2">Name</div>
            <div class="col-2">Last Name</div>
            <div class="col-1"> Age</div>
            <div class="col-2"> Owner Id</div>
            <div class="col-5"> Actions</div>
        </div>

        <div class="row rowelement" th:each="owner : ${owners}">
            <div class="col-2" th:text="${owner.name}"></div>
            <div class="col-2" th:text="${owner.surname}"></div>
            <div class="col-1" th:text="${owner.age}"></div>
            <div class="col-2" style="text-align: center" th:text="${owner.id}"></div>
            <div class="col-5">
                <a th:href="@{/owner/delete(id=${owner.id})}">
                    <button type="button" class="col-md-3 btn btn-danger"> Delete</button>
                </a>
                <a th:href="@{/owner/details(id=${owner.id})}">
                    <button type="button" class="col-md-3 btn btn-success">Details</button>
                </a>
                <a th:href="@{/owner/edit(id=${owner.id})}">
                    <button type="button" class="col-md-3 btn btn-primary">Edit</button>
                </a>
            </div>
        </div>
    </div>
</main>
<div th:fragment="footers"/>

</body>
</html>