<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>

<table>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.name}"></td>
        <td th:text="${owner.surname}"></td>
        <td th:text="${owner.age}"></td>
        <td th:text="${owner.id}"></td>
        <td><a th:href="@{/owner/delete(id=${owner.id})}">Delete</a></td>
        <td><a th:href="@{/owner/details(id=${owner.id})}">Details</a></td>
        <td><a th:href="@{/owner/edit(id=${owner.id})}">Edit</a></td>
    </tr>
</table>
<a th:href="@{/owner}">Add next owner:</a>
</body>
</html>