<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Details</title>
    <div th:replace="fragments:: styles"/>
</head>
<body>
<div th:replace="fragments:: navigator"/>
<h1>Owners Details</h1>
<div class="container">
    <div class="row">
        <div id="col-md-6 container" th:object="${owner}">
            <div class="row">
                <div class="col-6">
                    <label for="id">Identifier</label></div>
                <div class="col-6">
                    <div id="id" th:text="*{id}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6"><label for="name">First name</label></div>
                <div class="col-6">
                    <div id="name" th:text="*{name}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6"><label for="lastName">Last name</label></div>
                <div class="col-6">
                    <div id="lastName" th:text="*{surname}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6"><label for="age">Age</label></div>
                <div class="col-6">
                    <div id="age" th:text="*{age}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6"><label for="petsage">Average pets age</label></div>
                <div class="col-6">
                    <div id="petsage" th:text="*{avgPetsAge}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-6"><label for="petsNum">Number of pets</label></div>
                <div class="col-6">
                    <div id="petsNum" th:text="*{numOfPets}"></div>
                </div>
            </div>
        </div>
        <div id="pets-data" class="col-md-6">
            <h2> Pets:</h2>
            <div class="row rowheaderdetails">
                <div class="col-3">Name</div>
                <div class="col-1">Age</div>
                <div class="col-2">Weight</div>
                <div class="col-3">Race</div>
                <div class="col-3">Is Pure Race</div>

            </div>

            <div class="row rowelement" th:each="pet : ${owner.pets}">
                <div class="col-3" th:text="${pet.name}"></div>
                <div class="col-1" th:text="${pet.age}"></div>
                <div class="col-2" th:text="${pet.weight}"></div>
                <div class="col-3" th:text="${pet.race}"></div>
                <div class="col-3" style="text-align: center" th:text="${pet.pureRace}"></div>
                <div>
                    <a th:href="@{/pet/delete(id=${pet.id},ownerId=${owner.id})}">
                        <button type="button" class="btn btn-danger">Kill pet</button>
                    </a>
                    <a th:href="@{/pet(id=${pet.id},ownerId=${owner.id})}">
                        <button type="button" class="btn btn-warning">Edit pet</button>
                    </a>
                    </div>
                </div>
                <a th:href="@{/pet(ownerId=${owner.id})}" class="col-12 addbutton">
                    <button type="button" class="btn btn-success">Add your new wonderful pet</button>
                </a><br/>
            </div>
        </div>
    </div>

<div th:fragment="footers"/>
</body>
</html>