<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Owner Form</title>
</head>
<body>

<form th:action="@{/owner}" method="post" th:object="owner">

    <input hidden  th:id="id" th:field="*{id}" />

    <label th:for="name">First Name:</label>
    <input th:id="name" th:name="name" th:field="*{name}"/>


    <label th:for="surname">Last Name:</label>
    <input th:id="surname" th:name="surname" th:field="*{surname}"/>


    <label th:for="age">Age:</label>
    <input th:id="age" th:name="age" th:field="*{age}"/>
    <input type="submit" value="Send">
</form>

</body>
</html>