<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Form</title>
</head>
<body>


<form th:action="@{/pet}" method="post" th:object="${pet}">
<div th:if="${ownerId!=null}"><input hidden type="hidden" th:value="${ownerId}" name ="ownerId"/></div>
    <div th:if="${ownerId==null}">
        <label for="owner">Owner: </label>
        <select class="owner-sel" id="owner" >
            <option th:each="owner : ${owners}" th:value="${owner.id}" th:text="${owner.name +' ' + owner.surname}">
            </option>
        </select>

    </div>
    <label for="petname">Petname: </label>
    <input type="text" id="petname" name="petname" th:field="*{name}"><br/>


    <label for="petAge">Age: </label>
    <input type="text" id="petAge" name="petAge" th:field="*{age}"><br/>
    <label for="petWeight">Pet weight: </label>
    <input type="text" id="petWeight" name="petWeight" th:field="*{weight}"><br/>
    <label for="petRace">Race: </label>
    <input type="text" id="petRace" name="petRace" th:field="*{race}"><br/>
    <label for="pureRace">Pure race </label>
    <input type="checkbox" id="pureRace" name="pureRace" th:field="*{pureRace}"><br/>

    <input id="submitForm" type="submit" value="Send"><br/>
</form>
</body>
</html>