<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <div th:replace="fragments:: styles"/>
</head>
<body>
<div th:replace="fragments:: navigator"/>
<h2> Pets:</h2>
<div class="row rowheaderdetails">
    <div class="col-2">Name</div>
    <div class="col-1">Age</div>
    <div class="col-1">Weight</div>
    <div class="col-2">Race</div>
    <div class="col-2">Is Pure Race</div>
    <div class="col-2">Pet Id</div>
    <div class="col-2">Action</div>


</div>

<div class="row rowelement" th:each="pet : ${pets}">
    <div class="col-2" th:text="${pet.name}"></div>
    <div class="col-1" th:text="${pet.age}"></div>
    <div class="col-1 weight-value" th:text="${pet.weight}"></div>
    <div class="col-2" th:text="${pet.race}"></div>
    <div class="col-2" style="text-align: center" th:text="${pet.pureRace}"></div>
    <div class="col-2" style="text-align: center" th:text="${pet.id}"></div>
    <div>
        <a th:href="@{/pet/delete(id=${pet.id},ownerId=${pet.owner.id})}">
            <button type="button" class="btn btn-danger">Remove pet</button>
        </a>
        <a th:href="@{/pet(id=${pet.id})}">
            <button type="button" class="btn btn-warning">Edit pet</button>
        </a>
    </div>
</div>

<a th:href="@{/pet}"><button type="button" class="col-4 btn btn-success">Add next pet</button></a>
<div th:fragment="footers"/>
</body>
</html>